<table>
  <caption style="font-weight: bolder;">Developers</caption>
<tr>
  <th style="font-weight: bold;">#</th>
  <th>Last Name</th>
  <th>First Name</th>
  <th>Age</th>
  <th>Gender</th>
  <th>Bio</th>
  <th>Skills</th>
</tr>
<tr *ngFor="let developer of developers; index as i" >

<td>{{i}}</td>
<td>{{developer.lastName}}</td>
<td>{{developer.firstName}}</td>
<td>{{developer.age}}</td>
<td>{{developer.gender}}</td>
<td>{{developer.bio}}</td>
<td>
<app-skill *ngFor="let skill of developer.skills" [name]="skill.name" [logo]="skill.logo" [site]="skill.site"></app-skill>
</td>
</tr>
</table>
